* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
header {
    height: 400px;
    background-image: url(img/mv.jpg);
    background-size: cover;
    background-position:bottom;
}
.header-title {
    padding-top: 20px;
    padding-left: 20px;
}
main {
    width: 840px;
    margin: 50px auto;
}
.main-item {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #f7f7f7;
}